@page
@model PSI_Food_waste.Pages.Forms.CreatedRestaurantsModel
@{
    ViewData["Title"] = "Create Restaurant";
}

<div class="created-restaurants-page">
    <h3>Your Restaurants</h3>
    <form>
        <button class="add-restaurant-btn" asp-page="/Forms/AddRestaurant">Add Restaurant</button>
    </form>

    @foreach (var restaurant in Model._registerRepository.CurrentUser.CreatedRestaurants)
    {
        <div class="restaurants-card">
            <div class="restaurant-content">
                <img src="@restaurant.PictureUrl">
                <div class="restaurant-description">
                    <p>@restaurant.Title</p>
                    <p>@restaurant.City</p>
                    <p>@restaurant.Adress</p>
                </div>
                <div class="button-container">
                    <form method="post" asp-page-handler="Select" asp-route-id="@restaurant.Id">
                        <button class="edit-restaurant-button">Select</button>
                    </form>
                </div>
            </div>
        </div>
    }
</div>
