@*@{
    string uss = "User";
    }*@

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PSI_Food_waste</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/css/stylesheet.css")"/>
    @RenderSection("Styles", false)
</head>
<body>
    <header class="main-header">
        <div id="main-logo">
            <a asp-page="/Index"><img src="https://see.fontimg.com/api/renderfont4/w1OB8/eyJyIjoiZnMiLCJoIjo0MywidyI6MTAwMCwiZnMiOjQzLCJmZ2MiOiIjMzcyOTFDIiwiYmdjIjoiIzAzMDIwMiIsInQiOjF9/Rm9vZFdhc3Rl/millenia-personal-use.png" alt="Cursive fonts"></a>
        </div>

        <nav id="navbar">
            <div class="nav-container">
                @*<a class="navbar-logo" asp-area="" asp-page="/Index">Food waste</a>*@
                <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                         aria-expanded="false" aria-label="Toggle navigation">
                     <span class="navbar-toggler-icon"></span>
                 </button> -->
                <div class="navbar-links">
                    <ul>
                        <li>
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li>
                            <a class="nav-link text-dark" asp-area="" asp-page="/Forms/CreatedRestaurants">Add Restaurant </a>
                        </li>
                        <li>
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
                @{
                    if (ViewData["User"] != null)
                    {
                        <div class="nav-buttons">
                            <label id="username">Welcome @ViewData["User"]!</label>
                            <form>
                                <button id="logout-btn" asp-page="/Forms/LogoutScreen">Logout</button>
                            </form>
                        </div>
                    }
                    else
                    {
                        <div class="nav-buttons">
                            <form class="reg-buttons">
                                <button class="login-button" asp-page="/Forms/LoginScreen">Login</button>
                            </form>
                            <form>
                                <button class="register-button" asp-page="/Forms/RegisterScreen">Sign Up</button>
                            </form>
                        </div>
                    }
                }
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="main-footer">
        <div class="footer-div">
            &copy; 2021 - PSI_Food_waste - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>
    <script src="https://kit.fontawesome.com/c65a098c25.js" crossorigin="anonymous"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await Component.InvokeAsync("Notyf")
    @RenderSection("Scripts", required: false)
</body>
</html>
